/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Mansalva&family=Zeyada&display=swap');

/* Icons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

:root {
  --primary-color: #d9d5f6;
  --accent-color: #7373d3;
  --bg-white: #fbfbfe;
  --bg2-grey: #edeef3;
  --text-color: #353342;
}

/* == PROJECTS == */
.projects-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    gap: 2rem;
    justify-content: center;
}
.project-card {
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    border-radius: 1rem;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    box-shadow: 0 4px 12px #3E394C;
    transition: transform 0.3s;
    flex: 1;
    min-width: 300px;
    max-width: 400px;
}
.project-card:hover {
    transform: scale(1.03);
}
.project-card:hover .replace-img {
    opacity: 1;
}
.project-card img {
    height: 150px;
    width: 100%;
    object-fit: cover;
}
.img-container {
    width: 100%;
    position: relative;
}
.replace-img{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: 0.3s;
}
.project-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0.3rem 1rem 1rem;
}
.project-info h3 {
    margin-bottom: 0rem;
    font-size: 1.5rem;
    color: var(--accent-color);
    font-family: 'Mansalva', sans-serif;
    font-style: normal;
}
.project-info p {
    margin-bottom: 0.2rem;
    font-size: 1rem;
    font-style: normal;
    color: #524a63;
}
/* Project Details */
.project-details {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 0.75rem;    
    font-size: 0.95rem;
    margin-top: auto;
    margin-bottom: 10px;
}
.project-details div {
    display: flex;
    flex-direction: column;
}
.project-details span {
    color: #999;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}
.project-details strong {
    color: var(--accent-color);
    font-weight: 600;
}
/* tech stack */
.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    min-height: 1rem;
    margin-top: auto;
}
.tech-stack span {
    padding: 0.4rem 0.7rem;
    display: inline-flex;
    align-items: center;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--bg-white);
    background: var(--accent-color);

    white-space: nowrap;
}
/* Read More */
#more {
    display: none;
}
.center {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}