/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Mansalva&family=Zeyada&display=swap');

/* Icons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

:root {
  --primary-color: #d9d5f6;
  --accent-color: #7373d3;
  --bg-white: #fbfbfe;
  --bg2-grey: #edeef3;
  --text-color: #353342;
}
/* == NAV BAR == */
.logo {
    width: 100%;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300px;
    background-color: var(--bg2-grey);
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
nav ul li a {
    font-family: 'Karla', serif;
    color: var(--text-color);
    text-decoration: none;
    font-size: clamp(1.5rem, 1.25vw, 2rem); /*1.5rem;*/
    font-weight: 500;
    padding: 0.8rem 1rem;
    display: block;
    border-radius: 1rem;
    transition: background-color 0.3s;
}
nav ul li a:hover
{
    background-color: var(--primary-color);
    border-radius: 1rem;
    transition: background-color 0.3s;
}
nav ul li a.active {
    background-color: var(--accent-color);
    border-radius: 1rem;
    color: var(--bg-white);
}
/* nav icons */
nav .icons {
    display: flex;
    gap: 15px;
    margin-top: auto;
    padding-top: 20px;
    justify-content: center;
}
.icon-link {
    color: var(--accent-color);
    font-size: clamp(2.5rem, 2vw, 3.5rem); /*2rem;*/
    text-decoration: none;
    transition: transform 0.3s;
    
}
.icon-link:hover {
    transform: scale(1.1);
}

.menu-toggle {
    display: none;
}