/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,800&family=Mansalva&family=Zeyada&display=swap" rel="stylesheet');

/* Icons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

h1 {
    font-family: 'Mansalva', sans-serif;
    font-size: 7em;
    color: #648C85;
    justify-content: center;
    margin: 0;
    padding: 0;
}
h2 {
    font-family: 'Mansalva', sans-serif;
    font-size: 3em;
    color: #648C85;
    justify-content: center;
    margin: 0;
    padding: 0;
}
h3 {
    color: #524a63;
    font-family: 'Karla', serif;
    font-size: 2em;
    font-weight: 800;
    font-style: italic;
    margin: 0;
    padding: 0;
}
h4 {
    color: #524a63;
    font-family: 'Karla', serif;
    font-size: 1.3em;
    font-weight: 500;
    font-style: italic;
    margin: 0;
    padding: 10px;
}
body {
    font-family: 'Karla', serif;
    background-color: #EFE9E7;
    margin: 0;
}
img {
    height: 250px;
}
.container {
    width: 100%;
    max-width: 1100px;
    margin: 3rem 3rem 3rem 18rem;
    padding: 0 1rem;
}
.project {
    margin: 2rem 0rem 2rem 2rem;
}

/* Project Buttons */
.button {
    border: none;
    border-radius: 2rem;
    background-color: #648C85;
    color: #EFE9E7;
    font-family: 'Karla', serif;
    font-style: italic;
    font-size: 2rem;
    padding: 0.3rem 1rem;
    margin: 1.5rem auto;
    display: inline-block;
    text-align: center;
    transition: background-color 0.5s, box-shadow 0.5s;
    text-decoration: none;
    cursor: pointer;
}
.button:hover {
    background-color: #557772;
    box-shadow: 0px 0px 15px #334844;
}
.button:active {
    background-color: #557772;
}
.contact {
    background-color: #648C85;
    font-size: 1.5rem;
    display: block;
    width: 500px;
}

/* Nav bar */
.logo {
    font-family: 'Zeyada', serif;
    font-size: 6rem;
    color: #EFE9E7;
    text-align: center;
    margin-bottom: 0.5rem;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 220px;
    background-color: #685e7e;
    padding: 1rem;
    box-shadow: 0px 0px 10px #3e394c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    margin: 1rem;
}
nav ul li a {
    font-family: 'Mansalva', sans-serif;
    color: #EFE9E7;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    display: block;
    border-radius: 5px;
    transition: background-color 0.5s, box-shadow 0.5s;
}
nav ul li a:hover {
    color: #EFE9E7;
    background-color: #524a63;
    box-shadow: 0px 0px 10px #3e394c;
}
nav ul li a.active {
    background-color: #524a63;
    color: #EFE9E7;
    box-shadow: 0px 0px 10px #3e394c;
}
.icons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 2rem;
}
.icon-link {
    color: #EFE9E7;
    font-size: 2.5rem;
    text-decoration: none;
}
.hamburger-menu {
    display: none;
    font-size: 2.5rem;
    cursor: pointer;
    color: #EFE9E7;
}

@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    #nav-list {
        display: none;
        width: 100%;
        flex-direction: column;
        background-color: #685e7e;
        padding: 1rem;
        position: absolute;
        top: 5rem;
        left: 0;
        box-shadow: 0px 0px 10px #3e394c;
    }
    #nav-list.active {
        display: flex;
    }
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 1rem;
    }
}