/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');

/* Icons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

body {
    font-family: Arial, sans-serif;
}
header {
    font-family: Arial, sans-serif;
}
h1 {
    font-family: 'Mansalva', sans-serif !important;
}
.container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
}
.button {
    border: none;
    border-radius: 0.5rem;
    background-color: #ba71d1;
    color: #faf3f0;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    margin: 1.5rem auto;
    display: block;
    font-family: 'Sniglet', sans-serif;
    text-align: center;
}
.button:hover {
    box-shadow: 0px 0px 20px #171a1c;
}
.button:active {
    background-color: #9d5fb0;
}