/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Mansalva&family=Zeyada&display=swap');

/* Icons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

:root {
  --primary-color: #d9d5f6;
  --accent-color: #7373d3;
  --bg-white: #fbfbfe;
  --bg2-grey: #edeef3;
  --text-color: #353342;
}

/* == TEXT == */
body {
    font-family: 'Karla', serif;
    background-color: var(--bg-white);
    margin: 0;
    color: var(--text-color);
}
h1 {
    color: var(--accent-color);
    font-family: 'Mansalva';
    font-weight: 800;
    font-size: 6rem;
    margin: 0;
}
h2 {
    font-size: clamp(2rem, 2vw, 2.5rem);
    font-weight: 800;
    font-style: italic;
    margin: 0;
    color: var(--accent-color)
}
h3 {
    font-size: 1.8rem; /* clamp(1rem, 2vw, 3.5rem);*/
    margin: 0;
}
h4 {
    font-size: 1.2rem;
    margin: 1rem 0;
}
p {
    font-size: clamp(1.3rem, 1vw, 1.5rem);
    font-weight: 300;
    margin: 0;
    line-height: 1.5;
}
.black {
    color: var(--text-color)
}

/* == CONTENT CONTAINERS == */
.container {margin: 20px 100px 0 400px;
    /*margin-left: clamp(270px, 15vw, 300px); */
    padding: 2vw;
    box-sizing: border-box;
}
.info-card {
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    border-radius: 1rem;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s;
    padding: 1rem;
    margin: 1rem;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.row {
    display: flex;
}
.left {
    flex: 50%;
}
.right {
    flex: 50%;
}
img {
    width: 100%;
    object-fit: cover;
}

/* == PROJECT BUTTONS == */
.button {
    border: none;
    border-radius: 2rem;
    background-color: var(--accent-color);
    color: var(--bg-white);
    font-family: 'Karla', serif;
    font-style: italic;
    font-size: clamp(1.5rem, 1.25vw, 2rem); /*1.3rem;*/
    padding: clamp(0.4rem, 0.8vw, 0.8rem) clamp(1rem, 1.5vw, 1.5rem); /*0.5rem 1.5rem;*/
    margin: 0.5rem;
    display: inline-block;
    text-align: center;
    transition: transform 0.3s;
    text-decoration: none;
    cursor: pointer;
}
.button:hover {
    transform: scale(1.05);
}
.contact {
    width: 20rem;
}

/* == NAV BAR == */
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: clamp(270px, 15vw, 300px);
    background-color: var(--bg2-grey);
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
nav ul li a {
    font-family: 'Karla', serif;
    color: var(--text-color);
    text-decoration: none;
    font-size: clamp(1.5rem, 1.25vw, 2rem); /*1.5rem;*/
    font-weight: 500;
    padding: 0.8rem 1rem;
    display: block;
    border-radius: 1rem;
    transition: background-color 0.3s;
}
nav ul li a:hover
{
    background-color: var(--primary-color);
    border-radius: 1rem;
    transition: background-color 0.3s;
}
nav ul li a.active {
    background-color: var(--accent-color);
    border-radius: 1rem;
    color: var(--bg-white);
}
/* nav icons */
nav .icons {
    display: flex;
    gap: 15px;
    margin-top: auto;
    padding-top: 20px;
    justify-content: center;
}
.icon-link {
    color: var(--accent-color);
    font-size: clamp(2.5rem, 2vw, 3.5rem); /*2rem;*/
    text-decoration: none;
    transition: transform 0.3s;
    
}
.icon-link:hover {
    transform: scale(1.1);
}

.menu-toggle {
    display: none;
}

/* == PROJECTS == */
.projects-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    gap: 2rem;
    justify-content: center;
}
.project-card {
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    border-radius: 1rem;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    box-shadow: 0 4px 12px #3E394C;
    transition: transform 0.3s;
    flex: 250px;
    min-width: 300px;
}
.project-card:hover {
    transform: scale(1.03);
}
.project-card img {
    height: 150px;
}
.project-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0.3rem 1rem 1rem;
}
.project-info h3 {
    margin-bottom: 0rem;
    font-size: 1.5rem;
    color: var(--accent-color);
    font-family: 'Mansalva', sans-serif;
    font-style: normal;
}
.project-info p {
    margin-bottom: 0.2rem;
    font-size: 1rem;
    font-style: normal;
    color: #524a63;
}
/* tech stack */
.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    min-height: 1rem;
    margin: 0 0 0.5rem 0;
}
.tech-stack span {
    padding: 0.4rem 0.7rem;
    display: inline-flex;
    align-items: center;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--bg-white);
    background: var(--accent-color);

    white-space: nowrap;
}
/* Project Details */
.project-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.75rem;
    margin-top: auto;
    
    font-size: 0.95rem;
}
.project-details div {
    display: flex;
    flex-direction: column;
}
.project-details span {
    color: #999;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}
.project-details strong {
    color: var(--accent-color);
    font-weight: 600;
}

/* Responsive Design
@media (max-width: 600px) {
    nav {
        width: 100%;
        height: auto;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }
    .logo {
        font-size: 2.5rem;
        margin: 0;
        flex: 0 0 auto;
    }
    nav ul {
        display: none;
        flex-direction: column;
        background-color: #685e7e;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 0;
        box-shadow: 0px 5px 10px #3E394C;
    }
    nav ul.show {
        display: flex; 
    }
    nav ul li {
        text-align: center;
        margin: 0.5rem 0;
    }
    .menu-toggle {
        font-size: 2rem;
        color: #EFE9E7;
        cursor: pointer;
        display: block;
        margin-left: auto;
        flex: 0 0 auto;
    }
    nav .icons {
        display: none; 
    }
    .container {
        margin: 7rem auto 2rem auto;
        width: 90%;
        max-width: 1100px;
        margin-left: 0;
    }
    .project-card .games-grid .web-grid{
        flex: 0 0 100%;
        max-width: 100%;
    }

    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.5em;
    }
    p {
        font-size: 1rem;
    }
}
    */
